{% extends 'base.html' %}
{% block title %}Alcheringa{% endblock title %}Alcheringa
{% block body %}



       
        <input type="text" class="form-control form-control-sm required-field" placeholder="Enter Full Name *">
    
        <input type="text" class="form-control form-control-sm required-field" placeholder="Enter Phone Number *">
        <input type="text" class="form-control form-control-sm required-field" placeholder="Enter Email ID *">
        <input type="text" class="form-control form-control-sm required-field" placeholder="Set Password *">
        <div class="row">
          <div class="col">
            <select class="form-select form-select-sm re" aria-label="Default select example">
              <option selected>College State *</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="col">
            <select class="form-select form-select-sm" aria-label="Default select example">
              <option selected>College City *</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <select class="form-select form-select-sm" aria-label="Default select example">
              <option selected>College Name *</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="col">
            <select class="form-select form-select-sm" aria-label="Default select example">
              <option selected>Graduation Year *</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <select class="form-select form-select-sm" aria-label="Default select example">
          <option selected>Position of Responsibility</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <select class="form-select form-select-sm" aria-label="Default select example">
          <option selected>Interested module(s)</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <button type="button" class="btn btn-primary sub-btn">Submit</button>
    </div>
   
  </div>
</div>
<div class="col img-div">
<img src="/static/Graphic.jpg" alt="">
</div>
</div>
{% endblock body %}