{% extends '../../basicbootstrap.html'%}
{%block title%}Alcheringa {%endblock%}
{% block body %}
  <!--Password Reset Complete-->
    <div class="container p-4">	<a href="{% url 'logout' %}"><div class="all" style="display: flex; justify-content:space-between; flex-direction: row-reverse; "><div class="btn btn-success font-semibold text-base" style="transform:translateY(22.5px);" ><button>Home</button></div></a>
	    <h2 class="font-weight-bold mt-3">Password reset complete</h2></div>
		<hr>
        <p>Your password has been set. You may go ahead and log in now.</p>                 
    </div>

{% endblock %}
