{% extends '../../basicbootstrap.html'%}
{%block title%}Alcheringa {%endblock%}
{% block body %}
{% load crispy_forms_tags %} 
  <!--Password Reset Confirm-->
{%if form%}
    <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
		<hr>
        <p>Please enter your new password.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}  <br/>  
            <input type="submit"
                class="bg-blue-600 hover:bg-blue-700 text-white inline-block py-2 px-4 rounded shadow-sm font-semibold text-base" />
        </form>
    </div>
{%else%}
<p>
    An unknown error has occured.
</p>
{%endif%}
{% endblock %}