{% extends '../../basicbootstrap.html'%}
{%block title%}Alcheringa {%endblock%}
{% block body %}
{% load crispy_forms_tags %}         
	<!--Reset Password-->
	<div class="container p-5"><a href="{% url 'logout' %}"><div class="all" style="display: flex; justify-content:space-between; flex-direction: row-reverse; "><div class="btn btn-success font-semibold text-base" style="transform:translateY(22.5px);" ><button>Home</button></div></a>
	<h2 class="font-weight-bold mt-3">Reset Password</h2></div>
		<hr>
		<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy }} <br />
				<input type="submit"
					class="bg-blue-600 hover:bg-blue-700 text-white inline-block py-2 px-4 rounded shadow-sm font-semibold text-base" />
        </form>
  	</div> 
{% endblock %}
