{% extends '../basic.html'%}
{%block title%}Submissions | Alcheringa {%endblock%}
{%block style%}
<style>
    .subpbody {
        font-family: 'Poppins';
    }

    .pform {
        width: 70%;

    }

    .bell {
        position: fixed;
        top: 1vw;
        right: 1vw;
    }

    #form_button {
        background-color: #109CF1;
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        padding-right: 25px;
        padding-left: 25px;
        cursor: pointer;
        border-radius: 10px;
        font-family: 'Poppins';
    }
</style>
{%endblock%}
{% block body %}

<body>
    <div class="bg-blue-50 flex">
        {% include "../navbar.html" %}
        <div class="flex">

            <div class="subpbody">
                <div class=" bg-gray-50 flex  ">
                  <div class="mx-4 flex-grow">
                    <nav class=" px-6 py-5 flex justify-between bg-gray-50  sm:bg-none -mx-4 mx-0">
                      <a href="#" class=" block sm:hidden">
                        <img src="https://i.ibb.co/jhNQdns/image.png" width="38px" alt="profile pic" border="0" />
                      </a>
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
                      </svg>
              
                      <a href="#" class="items-centre font-medium text-2xl">Submissions</a>
                      </nav>
                      </div>

            
                  <div class="mx-4 flex-grow">
                    
                    <div class=" flex flex-wrap ">
                      <div class=" bg-white max-w-4xl rounded-lg w-screen shadow-md">
                        <div>
                          <div class="py-3 pl-6 font-medium text-xl border-b-2 font-semibold">Submit Multiple POCS </div>
                          <br>
                          <p class=" font-small text-xl m-5  ">Add a CSV file with columns as Name,Designation,College,Contact </p>
            
                          <br>
            
                          <div class="pform">
                            <form action="" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                               <label for="file1">Upload a file</label>
                                {{form.csv_file}}
                                <small>Only accepts CSV files</small>
                                
                                
            
                              <div class="submit m-4 mx-6 p-1 ">
                                <input type="submit" value="Submit" id="form_button" />
                              </div>
                            </form>
                          </div>
            
                          <br>
                          <br>
            
            
                          <div class="  w-80 border-gray-400 rounded mx-4 m-{5}"></div>
                        </div>
                      </div>
                    </div>
        </div>
    </div>
    </div>

</body>
{%endblock%}
{% block script %}

{% endblock %}