*{
 margin: 0%;
}

.form-wapper h2{
    margin: 1rem 0;
    font-size: 1.5rem;
}
.form-wrapper p{
    font-size: 12px;
}
.form{
    overflow: hidden;
    border:  grey;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    width: 100%;
    /* width: auto; */
    padding: 0px 10px;
}

input, select{
    margin: 6px 0;
}
.form-div{
   
    margin-left: 6rem;
}


.img-div img {
    width: 100%;
    height: 460px;
    margin-top: 2rem;
    
  }
  .btn-outline-primary{
      border: none !important;
      width: auto !important;
  }
  .placeholder{
    color: white;
    position: relative;
    top: -30px;
  }
  
 .sub-btn{
     margin-bottom: 6px;
 }
  


   h8{
    font-weight: 500;
    font-size: 15px;
  }


 
.input_field{
  display: block;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgb(180 180 180);
  width: 100%;
  margin-bottom: 25px;
}
.input_field:focus{
   outline: none;
   border-bottom: 2px solid black;
}

.register-top{
    text-align: center;
}

.errorlist{
    color:red;
}

