<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <title>Submit Ideas</title>
  <style>
        
        .subideabody{
          font-family: 'Poppins';
        }

        .sform{
            width:70%;
            
        }
      
.bell{
    position:fixed;
    top:1vw;
    right:1vw;
}
     #form_button{
         background-color: #109CF1;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
   padding-right: 25px;
   padding-left: 25px;
  cursor: pointer;
  border-radius:10px;
  font-family: 'Poppins';
     }
        </style>
        
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"
  integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<body>
  <div class = "subideabody">
  <div class=" bg-gray-50 flex  ">
    
    <div class="mx-4 flex-grow">
      <nav class=" px-6 py-5 flex justify-between bg-gray-50  sm:bg-none -mx-4 mx-0">
        <a href="#" class=" block sm:hidden">
          <img src="https://i.ibb.co/jhNQdns/image.png" width="38px" alt="profile pic" border="0" />
        </a>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
        </svg>

        <a href="#" class="items-centre font-medium text-2xl">Submissions</a>
        <a href="#">
          <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M26 24V24.4142L26.2929 24.7071L29 27.4142V27.5H7V27.4142L9.70711 24.7071L10 24.4142V24V16.5C10 12.2287 12.2294 8.88184 15.9806 7.99306L16.75 7.81075V7.02V6C16.75 5.30728 17.3073 4.75 18 4.75C18.6927 4.75 19.25 5.30728 19.25 6V7.02V7.81011L20.0187 7.99288C23.7562 8.88153 26 12.2446 26 16.5V24ZM19.7292 31C19.3814 31.5961 18.7344 32 18 32C17.2571 32 16.6124 31.5969 16.2674 31H19.7292Z"
              stroke="#90A0B7" stroke-width="2" />
            <circle cx="25.5" cy="9" r="6.5" fill="#FF4433" stroke="white" />
          </svg>
        </a>
      </nav>
      <br>
      <div class=" flex flex-wrap ">
      <div class=" bg-white max-w-4xl rounded-lg w-screen shadow-md">
        <div>
          <div class="py-3 pl-6 font-medium text-xl border-b-2 font-semibold">Submit Idea </div>
          <br>
          <p class=" font-small text-xl m-5  ">Tell us your ideas on how we can make Alcheringa bigger and better than ever! </p>

<br>

<div class="sform">
    <form action="#" method="post" id="idea_form" width:50%>
      {% csrf_token %}
    <div class="subject m-5 my-8 text-m border-b-2 border-gray-300">
        <label for="subject"></label>
        <!-- <input type="text" placeholder="Subject" name="subject" id="subject_input" required > -->
        {{ form.subject }}
    </div>
    
    
    
    <div class="message m-5 my-8 text-m border-b-2 border-gray-60">
      <label for="message"></label>
      <!-- <textarea name="message" placeholder="Tell us your idea" id="message_input" cols="35" rows="5" required></textarea> -->
      {{ form.tell_us_your_idea }}
    </div>
    
    
   
    
    <div class="submit m-4 mx-6 p-1 ">
      <input type="submit" value="Submit" id="form_button" />
    </div>
          </div>
         
          <br>
          <br>
              
        
      <div class="  w-80 border-gray-400 rounded mx-4 m-{5}"></div>
    </div>
  </div>
</div>
     
</body>



</html>