{% load static %}
<style>
	.backdrop {
    background-color: blue;
}

.fbpopup {
    position: fixed;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    -webkit-transform: translate(-50%, -50%) scale(1.25);
    -moz-transform: translate(-50%, -50%) scale(1.25);
    -ms-transform: translate(-50%, -50%) scale(1.25);
    -o-transform: translate(-50%, -50%) scale(1.25);
    width: 400px;
    padding: 20px 30px;
    background: white;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms, transform 200ms ease-in-out 0ms;
    -webkit-transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms, transform 200ms ease-in-out 0ms;
    -moz-transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms, transform 200ms ease-in-out 0ms;
    -ms-transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms, transform 200ms ease-in-out 0ms;
    -o-transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms, transform 200ms ease-in-out 0ms;
}

.fbpopup.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, transform 200ms ease-in-out 0ms;
    -webkit-transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, transform 200ms ease-in-out 0ms;
    -moz-transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, transform 200ms ease-in-out 0ms;
    -ms-transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, transform 200ms ease-in-out 0ms;
    -o-transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, transform 200ms ease-in-out 0ms;
}

.fbpopup .fbclose-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    cursor: pointer;
}

.fbpopup .form-login h2 {
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 25px;
}

.fbpopup .form-login .form-element {
    margin: 15px 20px 15px 0px;
}

.fbpopup .form-login .form-element label {
    font-size: 14px;
    color: #222;
}

.fbpopup .form-login .form-element input[type="text"],
.fbpopup .form-login .form-element input[type="password"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.fbpopup .form-login .form-element button {
    align-items: center;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    background: blue;
    color: #f5f5f5;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}

.fbpopup .form-login .form-element a {
    display: block;
    text-align: right;
    font-size: 15px;
    color: #1a79ca;
    text-decoration: none;
    font-weight: 600;
}
@media only screen and (max-width: 600px) {
    .fbpopup {
        width: 96%;
        height: auto;
    }
}
</style>
<div class="backdrop">
	<div id="modal" class="fbpopup">
		<span class="fbclose-btn">&times;</span>
		<div class=" my-2 bg-white max-w-5xl rounded-md shadow-md flex flex-col justify-center content-center">
            <div class="py-3 pl-6 font-medium text-lg border-b-2">Share and Earn</div>
            <div class=" flex flex-col justify-center">
                <div class=" text-lg text-center my-2">Refer your friend and you both earn</div>
                <div class=" font-medium text-4xl text-center" style="font-size: 24px;">25 points!</div>
                <div class=" flex flex-wrap justify-center mt-4 ml-4 mr-4">
                    <input type="url" class=" border-2 border-gray-400 text-gray-600 text-sm px-2 m-2"
                        value="https://www.alcheringa.in/"id="fbmsg" size="40" disabled>
                    <button onclick="copyfbmessage()"
                        class=" bg-blue-600 hover:bg-blue-700 active:bg-blue-700 text-white inline-block py-1 px-3 rounded shadow-sm font-semibold text-base m-2" id="but_fb">
                        Copy this message
                    </button><div style="clear:both"></div><br>
                    
                    <!-- <div id="message_fb" style="display:none">Message copied successfully!</div> -->

                </div>
                
                <center><div class=" flex flex-wrap justify-center ml-4 mb-4 mr-4" id="copiedfbmessage"></div>
                and share on<br>

                <a id = "fblink" target="_blank" style = "color:blue;font-weight: 500;font-size: 22px;cursor: pointer;">Facebook</a></center>
                <div class=" flex justify-center space-x-4 m-4">
                    
                </div>
            </div>
        </div>
	</div>
</div>
<script>
    document.getElementById('fblink').addEventListener('click',()=>window.open('http://facebook.com', '_blank'))
	document.querySelector("#fbshare").addEventListener("click", function () {
		document.querySelector(".fbpopup").classList.add("active");
		$(".backdrop").fadeTo(200, 1);
	});

	document.querySelector(".fbclose-btn").addEventListener("click", function () {
		document.querySelector(".fbpopup").classList.remove("active");
		$(".backdrop").fadeOut(200);
	});
    // document.getElementById('but_fb').addEventListener('click',()=>{
    //     document.getElementById("message_fb").style.display="block";

    // });
    function copyfbmessage() {
            var copyText = document.getElementById("fbmsg");

            copyText.select();
            copyText.setSelectionRange(0, 99999); 
            navigator.clipboard.writeText(copyText.value);

            document.getElementById("copiedfbmessage").innerHTML="Copied message successfully"
        }
</script>
