<style>
  .inactive {
    display: none;
    transform: translateX(100%);
    z-index: -1000;
    opacity: 0;
    transition: all .5s ease-in;
    width: 350px;
    top: 5%;
    right: 5%;
    transition: all 0.5s ease;
  }

  .active {
    opacity: 1;
    display: block;
    transform: translateX(0%);
    z-index: 1000;
    transition: all 0.5s ease;
  }
</style>
<div class="absolute inactive  bg-green-100 border-t-4 border-green-500 rounded-b text-green-900 px-4 py-3 shadow-md"
  id="success_notification" role="alert">
  <div class="flex">
    <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20">
        <path
          d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z" />
      </svg>
    </div>
    <div>
      <p class="font-bold" id="notification_title">Just a title</p>
      <p class="text-sm" id="notification_content">Just a notification</p>
    </div>
  </div>
</div>
<div class="absolute inactive  bg-red-100 border-t-4 border-red-500 rounded-b text-red-900 px-4 py-3 shadow-md"
  id="error_notification" role="alert">
  <div class="flex">
    <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20">
        <path
          d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z" />
      </svg>
    </div>
    <div>
      <p class="font-bold" id="notification_title">Just a title</p>
      <p class="text-sm" id="notification_content">Just a notification</p>
    </div>
  </div>
</div>
<script type="text/javascript">
  function notifySuccess(title, description) {
    let notification = document.querySelector("#success_notification")
    let notification_title = document.querySelector("#success_notification #notification_title")
    let notification_content = document.querySelector("#success_notification #notification_content")

    notification_title.textContent = title
    notification_content.textContent = description

    notification.classList.toggle("active")
    setTimeout(() => notification.classList.toggle("active"), 5000)
  }
  function notifyError(title, description) {
    let notification = document.querySelector("#error_notification")
    let notification_title = document.querySelector("#error_notification #notification_title")
    let notification_content = document.querySelector("#error_notification #notification_content")

    notification_title.textContent = title
    notification_content.textContent = description

    notification.classList.toggle("active")
    setTimeout(() => notification.classList.toggle("active"), 5000)
  }
</script>
{% for message in messages %}
{% if message.tags == 'info' %}
<script>
  notifyError("INFO","{{message}}")
</script>
{%endif%}

{% if message.tags == 'debug' %}
<script>
  notifyError("DEBUG", "{{message}}")
</script>
{%endif%}

{% if message.tags == 'success' %}
<script>
  notifySuccess("SUCCESS", "{{message}}")
</script>
{%endif%}

{% if message.tags == 'warning' %}
<script>
  notifyError("WARNING", "{{message}}")
</script>
{%endif%}

{% if message.tags == 'error' %}
<script>
  notifyError("ERROR", "{{message}}")
</script>
{%endif%}
{% endfor %}


