
<button @click="dropdownOpen = !dropdownOpen" style="z-index:100;">
    <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M26 24V24.4142L26.2929 24.7071L29 27.4142V27.5H7V27.4142L9.70711 24.7071L10 24.4142V24V16.5C10 12.2287 12.2294 8.88184 15.9806 7.99306L16.75 7.81075V7.02V6C16.75 5.30728 17.3073 4.75 18 4.75C18.6927 4.75 19.25 5.30728 19.25 6V7.02V7.81011L20.0187 7.99288C23.7562 8.88153 26 12.2446 26 16.5V24ZM19.7292 31C19.3814 31.5961 18.7344 32 18 32C17.2571 32 16.6124 31.5969 16.2674 31H19.7292Z"
            stroke="#90A0B7" stroke-width="2" />
        <circle cx="25.5" cy="9" r="6.5" fill="#FF4433" stroke="white" />
    </svg>
</button>

<div x-show="dropdownOpen" @click="dropdownOpen = false" class="fixed inset-0 h-full w-full z-10"></div>

<div x-show="dropdownOpen" class="absolute right-0 bg-white rounded-md shadow-lg overflow-y-scroll max-h-96 z-20 mx-5"
    style="width:20rem;" id="dropdown" style="display:none;">
    {% for notification in notification_list %}
    {% if notification.type == 'Info' %}
    <div>
        <a class="flex items-center px-4 py-3 border-b hover:bg-gray-100">
            <i class="fas fa-exclamation h-8 w-8 rounded-full object-cover circleicon"></i>
            <p class="text-gray-600 text-sm mx-1">
                <span class="font-bold" href="#">{{notification.message}}</span>
            </p>
        </a>
    </div>
    {% elif notification.type == 'Success' %}
    <div>
        <a class="flex items-center px-4 py-3 border-b hover:bg-gray-100">
            <i class="fas fa-check h-8 w-8 rounded-full object-cover circleicon"></i>
            <p class="text-gray-600 text-sm mx-1">
                <span class="font-bold" href="#">{{notification.message}}</span>
            </p>
        </a>
    </div>
    {% elif notification.type == 'Warning' %}
    <div>
        <a class="flex items-center px-4 py-3 border-b hover:bg-gray-100">
            <i class="fas fa-exclamation-triangle h-8 w-8 rounded-full object-cover circleicon"></i>
            <p class="text-gray-600 text-sm mx-1">
                <span class="font-bold" href="#">{{notification.message}}</span>
            </p>
        </a>
    </div>
    {% endif %}
    {% endfor %}
    {% if not notification_list %}
    <div class="py-2">
        <a  class="flex items-center px-4 py-3 border-b hover:bg-gray-100">
            <p class="text-gray-600 text-sm mx-2">
                <span class="font-bold" href="#">No notifications 🔔</span>
            </p>
        </a>
    </div>
    {% endif %}
    <!-- <a href="#" class="block bg-blue-700 text-white text-center font-bold py-2">See all notifications</a> -->
</div>
<!-- <script>
    $(document).ready(function () {
        $('#dropdown').show();
    });
</script> -->