{% extends '../basic.html'%}
{% load static %}
{%block title%}Dashboard | Alcheringa {%endblock%}
{% block body %}

<body class="bg-blue-50 ">
    <div class="flex">
        {% include "../navbar.html" %}
        <div class="flex">
            <div class="bg-white mt-4 rounded p-6" style="width:100%">
                {% for user in index %}
                <div class="px-3 my-2" style="border: 1px solid rgb(218, 218, 218); border-radius: 8px; display: flex; align-items: center;">
                    <div class="pr-3" style="border-right: 1px solid rgb(218, 218, 218)"><img src="{% static 'images/gold.png' %}"></div>
                    <div class="ml-4 my-2">{{ user.firstname }} {{ user.lastname }}</div>
                    <div class="ml-auto pl-3" style="border-left: 1px solid rgb(218, 218, 218);color: rgb(82, 82, 82); width:60px; text-align: center;">{{ user.points }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Pagination -->
        <div class="pagination" style="align-items:center">
            {% if index.has_previous %}
                <a href="?page=1" class="my-2 mx-2 btn btn-outline-info btn-sm">First</a>
                <a href="?page={{ index.previous_page_number }}" class="my-2 mx-2 btn btn-outline-info btn-sm">Previous</a>
            {% endif %}
            <span>Page <span style="color:rgb(13 202 240)" >{{ index.number }} </span> of {{ index.paginator.num_pages }}</span>
            {% if index.has_next %}
                <a href="?page={{ index.next_page_number }}" class="my-2 mx-2 btn btn-outline-info btn-sm">Next</a>
                {% endif %}
            <a href="?page={{ index.paginator.num_pages }}" class="my-2 mx-2 btn btn-outline-info btn-sm">Last</a>
        </div>
    </div>

</body>
{%endblock%}
{% block script %}

{% endblock %}