{% extends '../basic.html'%}
{% load static %}
{%block title%}Profile | Alcheringa {%endblock%}
{% block body %}

<body>
    <div class="bg-blue-50 flex">
        {% include "../navbar.html" %}
        <div class="flex">
           
                <!-- component -->
                <section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
                        <div class="w-full bg-white rounded-lg p-12 flex flex-col justify-center items-center">
                            <div class="w-full rounded-md mb-5">
                                <img src="{% static 'images/pr/quasim1.jpeg' %}" height="258px"; class="w-full rounded-md">
                            </div>
                            
                            <div class="text-center">
                                <p class="text-xl text-gray-700 font-bold mb-2">Quasim Khan</p>
                                <p class="text-base text-gray-400 font-normal">Outreach and Media<br>Head</p><br>
                                <p class="text-base text-gray-400 font-normal">quasim@alcheringa.in</p>
                                <p class="text-base text-gray-400 font-normal">7763959688</p>
                                <div class="flex mt-4 mx-4 items-center">
                                    <a href="https://www.instagram.com/quasim._/" target="_blank"><img class="mx-2" src="{% static 'images/social/ins.png' %}"></a>
                                    <a href="https://www.facebook.com/quasim.khan.1291" target="_blank"><img class="mx-2" src="{% static 'images/social/fb.png' %}"></a>
                                    <a href="https://twitter.com/IMquasi" target="_blank"><img class="mx-2" style="height:22px;width:22px;" src="{% static 'images/social/twitter.png' %}"></a>
                                    <a href="https://api.whatsapp.com/send?phone=917763959688&app=facebook&entry_point=page_cta&fbclid=IwAR0iTaa4nq5ZKq3wypRtyjPNeGx4eQvLD-qbkjutsIk8dbE9ZafuaAtygp8" target="_blank"><img class="mx-2" style="height:22px;width:22px;" src="{% static 'icons/whatsapp.png' %}"></a>
                                </div>
                            </div>
                        </div>
                        <div class="w-full bg-white rounded-lg p-12 flex flex-col justify-center items-center">
                            <div class="w-full rounded-md mb-5">
                                <img src="{% static 'images/pr/siddhant.jpg' %}" class="w-full rounded-md">
                            </div>
                            
                            
                            <div class="text-center">
                                <p class="text-xl text-gray-700 font-bold mb-2">Siddhant Singh</p>
                                <p class="text-base text-gray-400 font-normal">Public Relations<br>Head</p><br>
                                <p class="text-base text-gray-400 font-normal">siddhant.s@alcheringa.in</p>
                                <p class="text-base text-gray-400 font-normal">9310859978</p>
                                <div class="flex mt-4 mx-4 items-center">
                                    <a href="https://www.instagram.com/sid_8171/" target="_blank"><img class="mx-2" src="{% static 'images/social/ins.png' %}"></a>
                                    <a href="https://www.facebook.com/sid8171" target="_blank"><img class="mx-2" src="{% static 'images/social/fb.png' %}"></a>
                                    <a href="https://twitter.com/sid_8171" target="_blank "><img class="mx-2" style="height:22px;width:22px;" src="{% static 'images/social/twitter.png' %}"></a>
                                    <a href="https://api.whatsapp.com/send?phone=919310859978&app=facebook&entry_point=page_cta&fbclid=IwAR0iTaa4nq5ZKq3wypRtyjPNeGx4eQvLD-qbkjutsIk8dbE9ZafuaAtygp8" target="_blank"><img class="mx-2" style="height:22px;width:22px;" src="{% static 'icons/whatsapp.png' %}"></a>
                                </div>
                            </div>
                        </div>
                        <div class="w-full bg-white rounded-lg p-12 flex flex-col justify-center items-center">
                            <div class="w-full rounded-md mb-5">
                                <img src="{% static 'images/pr/Tshsn.jpg' %}" style="height:258px;" class="w-full rounded-md">
                            </div>
                            
                            <div class="text-center">
                                <p class="text-xl text-gray-700 font-bold mb-2">Danda Akshara</p>
                                <p class="text-base text-gray-400 font-normal">Public Relations<br>Head</p><br>
                                <p class="text-base text-gray-400 font-normal">akshara@alcheringa.in</p>
                                <p class="text-base text-gray-400 font-normal">9908991939</p>
                                <div class="flex mt-4 mx-4 items-center">
                                    <a href="https://www.instagram.com/danda_akshara/" target="_blank" ><img class="mx-2" src="{% static 'images/social/ins.png' %}"></a>
                                    <a href="https://www.facebook.com/akshara.reddy.37051" target="_blank"><img class="mx-2" src="{% static 'images/social/fb.png' %}"></a>
                                    <a href="https://wa.me/message/LTSEPGLKIM35C1" target="_blank"><img class="mx-2" style="height:22px;width:22px;" src="{% static 'images/social/twitter.png' %}"></a>
                                    <a href="https://wa.me/message/LTSEPGLKIM35C1" target="_blank"><img class="mx-2" style="height:22px;width:22px;" src="{% static 'icons/whatsapp.png' %}"></a>
                                </div>
                            </div>
                        </div>
                        
                        
                        
                    </div>
                </section>
          
        </div>
    </div>
    </div>

</body>
{%endblock%}
{% block script %}

{% endblock %}