{% extends '../basic.html'%}
{%block title%}Dashboard | Alcheringa {%endblock%}
{% block body %}

<body class="bg-blue-50 ">
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '3748249885284314',
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v12.0'
            });
        };
    </script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function postShared(response, postId) {
            if (response) {
                let csrftoken = getCookie("csrftoken");
                fetch("/submissions/media/new/", {
                    "method": "POST",
                    "body": JSON.stringify({
                        "shared_post": postId
                    }),
                    "credentials": "same-origin",
                    "headers": { "X-CSRFToken": csrftoken, "Content-Type": "application/json" }
                }).then(res => res.json()).then(data => {
                    notifySuccess("Post Shared Successfully!", "Reload the page for latest post and point updates.")
                }).catch(console.log);
            }
        }

        function fbshare(post, postId) {
            console.log(post)
            return FB.ui({
                "method": "share",
                "href": post,
                "hashtag": "Alcheringa2022"
            }, function (response) {
                return postShared(response, postId)
            })
        }

    </script>
    <div class="flex">
        {% include "../navbar.html" %}
        <div class="flex">
            <div>
                <!-- scores -->
                {% include "dashboard/components/level_myprogress.html" %}
                <!-- recent_posts -->
                {% include "dashboard/components/recent_posts_for_phone.html" %}
                <!-- tasks -->
                {% include "dashboard/components/tasks.html" %}
                <!-- refer_and_earn -->
                {% include "dashboard/components/refer.html" %}
            </div>
            <div class="bg-white h-screen w-80 border-gray-400 rounded m-4 hidden lg:block">
                {% include "dashboard/components/recent_posts_for_pc.html" %}
            </div>
        </div>
    </div>
    </div>

</body>
{%endblock%}
{% block script %}
<script>
    /* Chat.js */
    const levelPoints = [{{ request.user.points }}, 200];
    if({{ request.user.points }}<10)
      document.getElementById('level-value').innerText = '00'+levelPoints[0]
    else if({{ request.user.points }}<100)
      document.getElementById('level-value').innerText = '0'+levelPoints[0]
    else
      document.getElementById('level-value').innerText = levelPoints[0]
  
    // class initialization(myChat)
    var levelChart = new Chart(document.getElementById('level-pie').getContext('2d'), {
      type: 'doughnut',
      data: {
        datasets: [{
          data: levelPoints,
          backgroundColor: [
            'rgba(232, 107, 115, 1)',
            'rgba(243, 246, 248, 1)'
          ],
          borderWidth: 0,
          cutout: 62,
        }]
      },
      options: {
        plugins: {
          legend: false,
          tooltip: false,
        }
      }
    });
  
    const tasksCompletedPoints = [{{request.user.tasks}}, 8];
    if({{request.user.tasks}}<10)
      document.getElementById('tasks-completed-value').innerText = '0'+tasksCompletedPoints[0]
    else
      document.getElementById('tasks-completed-value').innerText = tasksCompletedPoints[0]
  
    // class initialization(myChat)
    var tasksCompletedChart = new Chart(document.getElementById('tasks-completed-pie').getContext('2d'), {
      type: 'doughnut',
      data: {
        datasets: [{
          data: tasksCompletedPoints,
          backgroundColor: [
            'rgba(0, 201, 92, 1)',
            'rgba(243, 246, 248, 1)'
          ],
          borderWidth: 0,
          cutout: 62,
        }]
      },
      options: {
        tooltips: {
          enabled: false
        }
      }
    });
  
    const referralsPoints = [{{request.user.referrals}}, 5];
    document.getElementById('referrals-value').innerText = '0'+referralsPoints[0]
  
    // class initialization(myChat)
    var referralsChart = new Chart(document.getElementById('referrals-pie').getContext('2d'), {
      type: 'doughnut',
      data: {
        datasets: [{
          data: referralsPoints,
          backgroundColor: [
            'rgba(255, 161, 51, 1)',
            'rgba(243, 246, 248, 1)'
          ],
          borderWidth: 0,
          cutout: 62,
        }]
      },
      options: {
        tooltips: {
          enabled: false
        }
      }
    });
    
</script>

{% endblock %}