{% extends '../basicbootstrap.html'%} {% load static %} {%block title%}Alcheringa{%endblock%} {% block style %}
<link rel="stylesheet" href={% static "css/landing_style.css" %}> {% endblock %} {% block body %}
<section class="header">
    <nav style="width:100%;">
        <a href="#"><img src="{% static 'images/logo.png' %}" alt="Logo" /></a>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a href="#about" id="navlink1">About</a></li>
                <li><a href="#benefits" id="navlink2">Benefits</a></li>
                <li><a href="#responsibility" id="navlink3">Responsibilities</a></li>
                <li><a href="#faq" id="navlink4">FAQs</a></li>
                <li><a id="navlink5">Login</a></li>
                <li id="join-button">
                    <a href="{% url 'register_single' %}" id="join-button-text">Join Now</a>
                </li>
            </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>
    <div class="text-box">
        <h2>Alcheringa 2022</h2>
        <h1>Campus Ambassador</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu orci, scelerisque consequat aenean massa lobortis pretium.
        </p>
        <a href="{% url 'register_single' %}" class="hero-btn">Join Now</a>
    </div>
</section>

<section id="about">
    <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/xSDlUEJ22vU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="video-text">
        <p>Aftermovie, Alcheringa 2020</p>
    </div>
</section>


<section>
    <div>
        <p class="joining">
            Who is an Alcheringa Campus Ambassador?
        </p>
        <p class="text">
            Campus Ambassadors are the key players of IIT Guwahati's Alcheringa capacity building and youth outreach programme. With the insight of bringing out the essence of an authentic leader within you . Along with a host of valuable experiences and reassurance
            from Team Alcheringa, come forward and take up the opportunity to plan , organise and execute exciting events. Join a community that engulfs you with moments that refines your managerial and communicative skills.
        </p>
    </div>
</section>

<section id="benefits">
    <div>
        <p class="joining">Why should you join?</p>
    </div>
    <div class="join">
        <div>
            <img src="{% static 'images/perspaleta1_0016.png' %}" />
            <h2>Level-wise Certification</h2>
            <p>Platinum Certificate (Top 5 CAs)</p>
        </div>
        <div>
            <img src="{% static 'images\perspaleta1.png' %}" />
            <h2>Level-wise Certification</h2>
            <p>Feel the pride and honor of being<br />the leader of champions</p>
        </div>
        <div>
            <img src="{% static 'images\perspaleta1_0003.png' %}" />
            <h2>Level-wise Certification</h2>
            <p>
                Prizes worth 2.2 lakhs to be won<br />Certified Internships and Workshops.
            </p>
        </div>
    </div>
</section>

<section id="responsibility">
    <div id="blue">
        <p id="res">What will be your responsibilities?</p>
        <div id="man">
            <img src="{% static 'images\marketing-campaign-3025712-2526910.png' %}" alt="Man" />
            <div class="box-text">
                <div>
                    <h2>College Branding</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    </p>
                </div>
                <div>
                    <h2>City Eliminations</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    </p>
                </div>
                <div>
                    <h2>Increasing Reach</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    </p>
                </div>
            </div>
        </div>
        <div class="join">
            <div>
                <img src="{% static 'images\perspaleta1_0008.png' %}" />
                <h2 style="color: #ffffff">Complete Tasks</h2>
                <p style="color: #ffffff">Platinum Certificate (Top 5 CAs)</p>
            </div>
            <div>
                <img src="{% static 'images\perspaleta1_0031.png' %}" />
                <h2 style="color: #ffffff">Share Posts</h2>
                <p style="color: #ffffff">
                    Feel the pride and honor of being<br />the leader of champions
                </p>
            </div>
            <div>
                <img src="{% static 'images\perspaleta1_0015.png' %}" />
                <h2 style="color: #ffffff">Get Registrations</h2>
                <p style="color: #ffffff">
                    Prizes worth 2.2 lakhs to be won<br />Certified Internships and Workshops.
                </p>
            </div>
            <div>
                <img src="{% static 'images\perspaleta1_0037.png' %}" />
                <h2 style="color: #ffffff">Suggest Ideas</h2>
                <p style="color: #ffffff">
                    Prizes worth 2.2 lakhs to be won<br />Certified Internships and Workshops.
                </p>
            </div>
        </div>
    </div>
</section>

<!--<section id="faq">
        <div>
            <p class="joining">Past offers</p>
        </div>
        <div class="join">
            <div>
                <img src="{% static 'images/perspaleta1_0016.png' %}" />
                <h2>Level-wise Certification</h2>
                <p>Platinum Certificate (Top 5 CAs)</p>
            </div>
            <div>
                <img src="{% static 'images\perspaleta1.png' %}" />
                <h2>Level-wise Certification</h2>
                <p>Feel the pride and honor of being<br />the leader of champions</p>
            </div>
            <div>
                <img src="{% static 'images\perspaleta1_0003.png' %}" />
                <h2>Level-wise Certification</h2>
                <p>
                    Prizes worth 2.2 lakhs to be won<br />Certified Internships and
                    Workshops.
                </p>
            </div>
        </div>

    </section>-->

<section>
    <div>
        <p class="joining">
            Join as a Team or Solo
        </p>
        <p class="text">
            For the first time ever, you can now work as a team of two to make your CA experience even better. You can still join solo as well.
        </p>
    </div>

    <div id="man">
        <img id="fly" src="{% static 'images/Graphic2.png' %}" />
        <div>
            <div id="choose">
                <h2>Team</h2>
                <h2>Solo</h2>
            </div>
        </div>
    </div>

</section>


<section>
    <div>
        <p class="joining">FAQs</p>
    </div>
    <div>
        <ul>
            <li class="que">
                <h4>What you doin'?</h4>
                <p class="down"> My house clean, my pool warm, just shaved (smooth like a newborn). We should be dancing, romancing, in the east wing. And the west wing of this mansion, what's happenin'? </p>
            </li>
            <li class="que">
                <h4>Where are you at?</h4>
                <p class="down">empty</p>
            </li>
            <li class="que">
                <h4>Oh, you got plans?</h4>
                <p class="down">empty</p>
            </li>
            <li class="que">
                <h4>Don't say that</h4>
                <p class="down">empty</p>
            </li>
            <li class="que">
                <h4>I'm sippin wine</h4>
                <p class="down">empty</p>
            </li>
        </ul>
    </div>
</section>


</section>
<section id="sponsors">
    <div>
        <p class="joining">Sponsors</p>
    </div>
    <div class="join">
        <div>
            <p>Live Training Partner</p>
            <img src="{% static 'images/canara.png' %}" alt="Canara" />

        </div>
        <div class="mt-4">
            <p>Project Partners</p>
            <div id="man" class="">
                <img src="{% static 'images/castrol.png' %}" alt="Castrol" />
                <img src="{% static 'images/redbull.png' %}" alt="RedBull" />
            </div>

        </div>

    </div>
</section>

<footer class="text-gray-600 body-font" style="background-color: #109CF1;">
    <div class="container px-5 py-16 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
        <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
            <a href="#"><img src="{% static 'images/logo2.png' %}" alt="Logo" /></a>
        </div>
        <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-left">
            <div class="lg:w-1/2 md:w-1/2 w-full px-4">
                <h2 class="title-font font-medium text-white text-sm mb-3 ml-6 text-xl">Links</h2>
                <ul class="list-none mb-10">
                    <li class="text-left" style="margin-bottom: 0.6rem;">
                        <a class="text-white no-underline hover:text-gray-800 hover-text">About</a>
                    </li>
                    <li class="text-left" style="margin-bottom: 0.6rem;">
                        <a class="text-white no-underline hover:text-gray-800">Benefits</a>
                    </li>
                    <li class="text-left" style="margin-bottom: 0.6rem;">
                        <a class="text-white no-underline hover:text-gray-800">Responsibilities</a>
                    </li>
                    <li class="text-left" style="margin-bottom: 0.6rem;">
                        <a class="text-white no-underline hover:text-gray-800">FAQs</a>
                    </li>
                    <li class="text-left" style="margin-bottom: 0.6rem;">
                        <a class="text-white no-underline hover:text-gray-800">alcheringa.in</a>
                    </li>
                </ul>
            </div>
            <div class="lg:w-1/2 md:w-1/2 w-full px-4">
                <h2 class="title-font font-medium text-white text-sm mb-3 ml-6 text-xl">Contact</h2>
                <ul class="list-none mb-10">
                    <li class="text-left" style="margin-bottom: 0.6rem;">
                        <p class="text-white">Venkat Vikas | PR Head <br>+91 8919054239</p>
                    </li>
                    <li class="text-left pb-6" style="margin-bottom: 0.6rem;">
                        <p class="text-white">Ankit Agarwal | PR Head <br>+91 8919054239</p>
                    </li>

                </ul>
            </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4 ">
            <h2 class="title-font font-medium text-white text-sm mb-3 ml-4 text-xl md:mt-4">Follow us</h2>
            <div class="flex flex-row flex-wrap">
                <div class="ml-5">
                    <a class="text-gray-500">
                        <img src="{% static 'images/FB-icon.png' %}" alt="FB-icon">
                    </a>
                </div>
                <div class="ml-5">
                    <a class="text-gray-500">
                        <img src="{% static 'images/IG-icon.png' %}" alt="IG-icon">
                    </a>
                </div>
                <div class="ml-5">
                    <a class="text-gray-500">
                        <img src="{% static 'images/YT-icon.png' %}" alt="YT-icon">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center pb-4">
        <p class="font-normal text-base text-center text-white mb-2">COPYRIGHT © 2021 ALCHERINGA. ALL RIGHTS RESERVED</p>
        <p class="font-normal text-base text-center text-white">Designed by Team Creatives. Developed by Team WebOps.</p>
    </div>

</footer>
{%include 'users/login.html' %}
<script>
    var navLinks = document.getElementById("navLinks");

    function showMenu() {
        navLinks.style.right = "0";
    }

    function hideMenu() {
        navLinks.style.right = "-200px";
    }
</script>
<script src="{% static 'js/home_main.js' %}"></script>
</body>

{%endblock%}