{% extends '../basicbootstrap.html'%}
{% load static %}
{%block title%}Login | Alcheringa {%endblock%}
{% block style %}
<link rel="stylesheet" href={% static "css/register_login.css" %}>{% endblock %}
{% block body %}
{% load crispy_forms_tags %}
<nav class="navbar navbar-light pb-5">
	<div class="container-fluid">
		<a class="navbar-brand ms-5" href="/">
			<img src="{% static 'images/Logo.png' %}" alt="" width="auto" height="28"
				class="d-inline-block align-text-top">
		</a>
	</div>
</nav>
<div class="row">
	<div class="col form-div">
		<div class="container form-wrapper">
			<h2>LOG IN</h2>
			<div class="form">
				<form method="POST">
					{% csrf_token %}
					<input type="email" name="email" placeholder="Email..." class="input_field mt-4" required>
					<input type="password" name="password" placeholder="Password..." class="input_field" required>
					<input type="submit" value="Log in"
						class="bg-blue-600 hover:bg-blue-700 text-white inline-block py-2 px-4 rounded shadow-sm font-semibold text-base" />
				</form>
				Do not have an account? <a href="{% url 'register_single' %}" class="ml-2">Register</a><br />
				<a href="{% url 'password_reset' %}" class="ml-2">Forgot Password</a>
			</div>
				
		</div>
	</div>
	<div class="col img-div">
		<img src="{% static 'images/Graphic.jpg' %}" alt="">
	</div>
</div>

{% endblock %}
