{% extends '../basic.html'%}
{%block title%}Alcheringa {%endblock%}
{% block body %}
{% load crispy_forms_tags %}
<section class="gradient-custom">
	<div class="container py-5 h-100" >
		<div class="row justify-content-center align-items-center h-100">
			<div class="col-12 col-lg-9 col-xl-7">
				<div class="card shadow-2-strong card-registration" style="border-radius: 15px; border:10px solid #d17a00">
					<div class="card-body p-4 p-md-5" id="#myGroup">
						<h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
                        <a class="btn btn-warning" href="{% url 'register_single' %}">Register solo</a>
                        <a class="btn btn-warning" href="{% url 'register_group' %}">Register in a group</a>
                        <!-- Single User Register Form -->
						<form id="single_user_register_form" method="POST" >{% csrf_token %} 
							{{single_user_register_form|crispy}}
							<div class="mt-4 pt-2">
								<input class="btn btn-warning btn-md" type="submit" name="single_user_register_form" value="Register" />
							</div>
						</form>
                        

						<div class="mt-4">
							<div class="d-flex justify-content-center">
								Already have an account? <a href="{% url 'login' %}" class="ml-2 link-warning">Log In</a>
							</div>
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
{% block script %}
<script>
    function group_user_register_form(event) {
        if(document.querySelector("#group_user_register_form").style.display=="none"){
            document.querySelector("#single_user_register_form").style.display="none"
            document.querySelector("#group_user_register_form").style.display="block"
        }
    }
    function single_user_register_form(event) {
        if(document.querySelector("#single_user_register_form").style.display=="none"){
            document.querySelector("#group_user_register_form").style.display="none"
            document.querySelector("#single_user_register_form").style.display="block"
        }
    }
</script>
{% endblock %}